# Build results
bin/
obj/
out/
[Bb]uild/
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/

# Visual Studio cache/options
.vs/
*.user
*.rsuser
*.suo
*.userosscache
*.sln.docstates

# ASP.NET temporary files
*.dll
*.exe
*.pdb
*.cache
*.log

# Others
node_modules/
